<div class="aboutImg">
    <nav-directive></nav-directive>
  <div class="aboutText">
    <p>
      Lorem ipsum dolor sit amet, duo no eius malorum dolorem, eum dicant scriptorem ut. Ius no percipit repudiandae, ne mel purto aperiam eligendi. Te possim civib. atqui atomorum dissentiunt no. Graece honestatis te nec. Id probo propriae patrioque vix, cu diam nulla mei. Et quod enim gloriatur vim. Docendi dissentiunt ut sed. dicunt appetere ne eum, pro rebum zril euripidis cu, in sit tempor insolens. Ius in munere option, tantas putent fierent vis te Ex ornatus partiendo euripidis qui, ipsum. vel et, appareat abhorreant comprehensam ea vis. At erant phaedrum consequat eum. Ius te deserunt imperdiet. Cum id habeo fabulas facilisi, cu meliore instructior vel, graeci omittam ut. I Id tantas nostrum eam. Vis falli dictas mediocrem ut, no has harum.
    </p>
  </div>

</div>
