.NavSecton {
  background-color: none;
  border: dotted; }

.navDiv {
  background-color: white;
  opacity: .8;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  align-items: center;
  vertical-align: center; }

.logoDiv {
  background-color: white;
  opacity: .8;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  align-items: center;
  vertical-align: center;
  margin-top: 16px; }
  .logoDiv p {
    font-family: 'Tinos', serif;
    font-size: 45px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
    color: #414042; }

.navItem {
  text-decoration: none;
  color: #414042;
  letter-spacing: 2px;
  padding: 0px 40px 0px 40px;
  font-family: 'Tinos', serif; }

.homeTab {
  text-decoration: none;
  color: #414042;
  letter-spacing: 2px;
  padding: 0px 40px 0px 0px;
  font-family: serif; }

.homeImg {
  background: url("../media/630-001.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -16px; }

.aboutImg {
  background: url("../media/8102-004.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: -16px; }

.aboutText {
  width: 50%;
  height: 630px;
  margin-top: -16px;
  background-color: black;
  opacity: .8; }
  .aboutText p {
    color: white;
    padding: 20px;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: 'Lato', sans-serif; }

.contactImg {
  background: url("../media/2434-016.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: -16px; }

.contactPage {
  display: flex; }

.contactText {
  width: 50%;
  min-height: 630px;
  margin-top: 0px;
  background-color: black;
  opacity: .8; }
  .contactText div p {
    color: white;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 0px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Tinos', serif; }

.emailUs, .submitButton {
  font-family: 'Tinos', serif; }

.emailBox {
  display: flex;
  justify-content: center;
  background-color: none;
  width: 50%; }

.emailForm {
  align-self: center; }
  .emailForm div {
    width: 303px;
    background-color: black;
    opacity: .8;
    color: white;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    margin: 20px 0px 0px 0px; }
  .emailForm input {
    display: block;
    padding: 10px 5px 10px 5px;
    margin: 20px 0px 0px 0px;
    width: 300px;
    font-family: 'Tinos', serif; }
  .emailForm textarea {
    display: block;
    padding: 10px 5px 10px 5px;
    margin: 20px 0px 0px 0px;
    width: 301px;
    font-family: 'Tinos', serif; }
  .emailForm button {
    width: 312px;
    padding: 10px 5px 10px 5px;
    margin: 5px 0px 0px 0px;
    background-color: black;
    opacity: .8;
    color: white; }

.contactIcon {
  width: 30px;
  height: auto; }

.galleryImg {
  background: url("../media/defaultbg2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: -16px; }

.galleryWrapper {
  display: flex; }

.galleryMasterDiv {
  text-align: center;
  width: 100%;
  height: auto; }

.thumbnail {
  width: 350px;
  height: 250px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px gray; }

.backButton {
  position: fixed;
  margin: 10px; }

.galleryInfoMasterSection {
  text-align: center; }

.infoContainer {
  text-align: left;
  margin: 2%;
  width: 70%;
  padding: 20px;
  display: inline-flex;
  flex-direction: row;
  background-color: white;
  align-self: center; }

.infoImageContainer {
  width: 70%; }

.infoMainImage {
  width: 100%;
  height: auto; }

.infoSliderContainer {
  height: 130px;
  width: 100%;
  margin-top: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }

.infoSliderImage {
  width: 200px;
  height: 130px;
  padding-right: 5px;
  display: inline-block; }

.infoTextContainer {
  width: 30%;
  padding: 0px 0px 20px 20px; }

.infoText {
  font-family: 'Tinos', serif;
  font-size: 16px;
  margin: 0px 0 11px 0; }

.infoMapImageContainer {
  width: 100%;
  height: 50%;
  margin-top: 14px;
  background-color: white; }

.infoMapImage {
  width: 100%;
  height: auto; }

.mapPageSection {
  display: flex; }

.mapImg {
  background: url("../media/mapbg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: -16px; }

.addressSidebar {
  flex-direction: column;
  text-align: center;
  background-color: white;
  width: 30%;
  max-height: 630px;
  padding-top: 0px; }

.scrollContainer {
  overflow: scroll;
  height: 548px; }

.addressDiv {
  border-bottom: 2px solid #E0E0E0;
  margin: 0px 10px 0px 20px; }

.addressText {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: serif; }

.viewDetailsButton {
  background-color: none;
  padding-left: 20px;
  padding-bottom: 10px;
  font-family: 'Tinos', serif;
  color: #00ADEE;
  text-decoration: none; }

.filterButtonDiv {
  display: inline-flex;
  justify-content: center;
  background-color: white;
  width: 100%; }

.completed {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Tinos', serif;
  margin: 0px 5px 0px 0px; }

.current {
  background-color: #1C75BB;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Tinos', serif;
  margin: 0px 5px 0px 5px; }

.future {
  background-color: #F05A29;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Tinos', serif;
  margin: 0px 0px 0px 5px; }

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  text-align: center;
  background-color: #F0F0F0; }

.footerText:before {
  font-family: 'Tinos', serif;
  content: "\00a9"; }
