@media only screen and (max-width: 375px) {
  nav {
    text-align: center; }
  .navDiv {
    background-color: white;
    opacity: .8;
    width: 100%;
    height: 10%; }
  .logoDiv {
    background-color: white;
    opacity: .8;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    align-items: center;
    vertical-align: center;
    margin-top: 16px; }
    .logoDiv p {
      font-family: 'Tinos', serif;
      font-size: 22px;
      padding-top: 20px;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0px;
      color: #414042; }
  .navItem {
    text-decoration: none;
    color: #414042;
    letter-spacing: 2px;
    padding: 0px 10px 0px 0px;
    font-family: 'Tinos', serif; }
  .homeTab {
    text-decoration: none;
    color: #414042;
    letter-spacing: 2px;
    padding: 0px 10px 0px 0px;
    font-family: 'Tinos', serif;
    margin-left: -20px; }
  .homeImg {
    background: url("../media/7728-013.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 620px;
    margin-top: -16px; }
  .aboutImg {
    background: url("../media/8102-004.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 667px;
    margin-top: -16px; }
  .aboutText {
    width: 100%;
    height: 570px;
    margin-top: 0px;
    background-color: black;
    opacity: .8;
    overflow-y: scroll; }
    .aboutText p {
      color: white;
      padding: 0px 20px 10px 20px;
      color: white;
      letter-spacing: 1px;
      line-height: 20px;
      font-family: 'Lato', sans-serif; }
  .contactImg {
    background: url("../media/2434-016.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 667px;
    margin-top: -16px; }
  .contactPage {
    display: flex; }
  .contactText {
    display: none;
    width: 50%;
    min-height: 630px;
    margin-top: 0px;
    background-color: black;
    opacity: .8; }
    .contactText div p {
      color: white;
      padding-left: 80px;
      padding-top: 30px;
      padding-bottom: 0px;
      color: white;
      letter-spacing: 2px;
      font-family: 'Tinos', serif; }
  .emailUs, .submitButton {
    font-family: 'Tinos', serif; }
  .emailBox {
    display: flex;
    justify-content: center;
    background-color: none;
    width: 100%; }
  .emailForm {
    align-self: center; }
    .emailForm div {
      width: 303px;
      background-color: black;
      opacity: .8;
      color: white;
      text-align: center;
      font-family: sans-serif;
      letter-spacing: 3px;
      font-size: 20px;
      padding: 1px 5px 1px 5px;
      margin: 20px 0px 0px 0px; }
    .emailForm input {
      display: block;
      padding: 10px 5px 10px 5px;
      margin: 20px 0px 0px 0px;
      width: 300px;
      font-family: 'Tinos', serif; }
    .emailForm textarea {
      display: block;
      padding: 10px 5px 10px 5px;
      margin: 20px 0px 0px 0px;
      width: 301px;
      font-family: 'Tinos', serif; }
    .emailForm button {
      width: 312px;
      padding: 10px 5px 10px 5px;
      margin: 5px 0px 0px 0px;
      background-color: black;
      opacity: .8;
      color: white; }
  .contactIcon {
    width: 30px;
    height: auto; }
  .galleryImg {
    background: url("../media/defaultbg2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 667px;
    margin-top: -16px; }
  .galleryWrapper {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .galleryMasterDiv {
    text-align: center;
    width: 100%;
    height: 460px; }
  .thumbnail {
    width: 150px;
    height: 100px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px gray; }
  .galleryInfoMasterSection {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .infoContainer {
    text-align: left;
    margin-top: 2%;
    width: 90%;
    padding: 10px;
    margin-bottom: 0%;
    flex-direction: column;
    background-color: white;
    align-self: center; }
  .infoImageContainer {
    width: 100%; }
  .infoMainImage {
    width: 100%;
    height: auto; }
  .infoSliderContainer {
    height: 70px;
    width: 100%;
    margin-top: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
  .infoSliderImage {
    width: 70px;
    height: 50px;
    padding-right: 5px;
    display: inline-block; }
  .infoTextContainer {
    width: 100%;
    padding: 0px 0px 20px 20px; }
  .infoText {
    font-family: 'Tinos', serif;
    font-size: 16px;
    margin: 0px 0 11px 0; }
  .infoMapImageContainer {
    width: 100%;
    height: 20px;
    margin-top: 14px;
    background-color: white; }
  .infoMapImage {
    display: none;
    width: 80%;
    height: auto; }
  .mapPageSection {
    display: flex;
    flex-direction: column; }
  #map {
    width: 100%;
    height: 460px;
    border: none; }
  .mapImg {
    background: url("../media/mapbg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 667px;
    margin-top: -16px; }
  .addressSidebar {
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 100%;
    max-height: 630px;
    padding-top: 0px; }
  .scrollContainer {
    display: none;
    overflow: scroll;
    height: 548px; }
  .addressDiv {
    border-bottom: 2px solid #E0E0E0;
    margin: 0px 10px 0px 20px; }
  .addressText {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: serif; }
  .viewDetailsButton {
    background-color: none;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: 'Tinos', serif;
    color: #00ADEE;
    text-decoration: none; }
  .filterButtonDiv {
    display: inline-flex;
    justify-content: center;
    background-color: white;
    width: 80%; }
  .completed {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Tinos', serif;
    margin: 0px 0px 0px 0px; }
  .current {
    background-color: #1C75BB;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Tinos', serif;
    margin: 0px 0px 0px 0px; }
  .future {
    background-color: #F05A29;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Tinos', serif;
    margin: 0px 0px 0px 0px; }
  .footer {
    position: fixed;
    text-align: center;
    background-color: #F0F0F0;
    align-content: center; }
  .footerDiv {
    align-content: center; }
  .footerText {
    font-family: 'Tinos', serif; } }
