<div class="galleryImg" ng-init="galleryCtrl.getData()">
  <nav-directive></nav-directive>

<!-- WITHOUT USING THE LINKING SYSTEM -->
  <!-- <section class="galleryMasterDiv" ng-hide="galleryCtrl.showInfo == true">
        <img ng-repeat="(eachHome, value) in galleryCtrl.houseData" class="thumbnail" id="thumbnail" src="{{value.pics[0]}}" ng-click=
         "galleryCtrl.showInfo = true;
         galleryCtrl.singleHouseDataLoader(value._id);
        ">
  </section> -->


<!-- TRYING SOMETHING NEW -->
  <section class="galleryMasterDiv">
    <a ng-repeat="(eachHome, value) in galleryCtrl.houseData" href="#/gallery/{{value._id}}" ng-click=
     "galleryCtrl.singleHouseDataLoader(value._id)">
        <img src="{{value.pics[0]}}" class="thumbnail" id="thumbnail">
      </a>
  </section>


<!-- WORKS MOMENTARILY BUT THEN GOES AWAY -->
  <!-- <section class="galleryMasterDiv" ng-hide="galleryCtrl.showInfo == true">
    <a ng-repeat="(eachHome, value) in galleryCtrl.houseData" href="#/gallery/{{value._id}}" ng-click=
     "galleryCtrl.showInfo = true;
     galleryCtrl.singleHouseDataLoader(value._id);
    ">
        <img src="{{value.pics[0]}}" class="thumbnail" id="thumbnail">
      </a>
  </section> -->


<!-- THIS IS THE CODE FOR DOING THE REPEATER IN THE LINK STYLE WITH ID IN URL -->
<!-- <section class="galleryMasterDiv">
      <a href="#/gallery/{{value._id}}" ng-repeat="(eachHome, value) in galleryCtrl.houseData" class="thumbnail">
          <img src="{{value.pics[0]}}" class="thumbnail" id="thumbnail"
          ng-click="galleryCtrl.singleHouseDataLoader(value._id)">
      </a>
</section> -->


<button class="backButton" type="button" name="button" ng-click="galleryCtrl.changeStateFalse()" ng-show="galleryCtrl.showInfo == true">Back</button>




</div>
