<div class="galleryImg">
  <nav-directive></nav-directive>
<section class="galleryInfoMasterSection">

  {{galleryCtrl.singleHomeData}}

  <section class="infoContainer">
    <!-- left half -->
    <div class="infoImageContainer">
      <!-- main image -->
      <img src="{{galleryCtrl.singleHomeData.frontPic}}" class="infoMainImage">
      <!-- thumbnail slider container -->
      <div class="infoSliderContainer">
        <!-- repeated image slider -->
        <img ng-repeat="sliderPic in galleryCtrl.singleHomeData.pics" src="{{sliderPic}}" class="infoSliderImage">

      </div>

    </div>


  <!-- WIRED UP FOR GALLERY CONTROLLER  -->

  <!-- right half -->
  <!-- house info container -->
  <div class="infoTextContainer">
    <!-- house info -->
    <p class="infoText">{{galleryCtrl.singleHomeData.address}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.sqft}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.lotsize}}</p>
    <p class="infoText">Bedrooms: {{galleryCtrl.singleHomeData.bedrooms}}</p>
    <p class="infoText">Bathrooms: {{galleryCtrl.singleHomeData.bathrooms}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.elementary}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.middle}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.hs}}</p>
    <p class="infoText">Status: {{galleryCtrl.singleHomeData.status}}</p>
  <!-- map pic container -->
  <div class="infoMapImageContainer">
    <!-- MAIN PICTURE -->
    <img src="" alt="" />
    <!-- MAP PICTURE -->
    <img src="{{galleryCtrl.singleHomeData.mapPic}}" class="infoMapImage">

  </div>
</div>

</section>

</section>

</div>
