<div class="galleryImg" ng-init="galleryCtrl.getData(); galleryCtrl.showSideCompleted('Complete')">
  <nav-directive></nav-directive>

<div class="galleryWrapper">

<!-- REPEATER FROM COMPLETED HOMES -->
  <section class="galleryMasterDiv">
    <a ng-repeat="(eachHome, value) in galleryCtrl.clickedHomePicArray" href="#/gallery/{{value._id}}" ng-click=
     "galleryCtrl.singleHouseDataLoader(value._id)">
        <img src="{{value.pics[0]}}" class="thumbnail" id="thumbnail">
      </a>
  </section>

<!-- Side bar -->
  <div class="addressSidebar">
    <div class="filterButtonDiv">
      <button class="completed" type="button" ng-click="galleryCtrl.showSideCompleted('Complete')">Completed</button>
      <button class="current" type="button" ng-click="galleryCtrl.showSideCompleted('Constructing')">Current</button>
      <button class="future" type="button" ng-click="galleryCtrl.showSideCompleted('Future')">Future</button>
    </div>
    <div class="scrollContainer">
      <div class="addressDiv" ng-repeat="(eachHome, value) in galleryCtrl.clickedAddress">
        <p class="addressText">
          {{value.address}}
        </p>
        <a href="#/gallery/{{value._id}}">
        <button class="viewDetailsButton" ng-click="galleryCtrl.viewChangeToGallery(value._id)">view details</button>
        </a>
      </div>
    </div>
  </div>

</div>







<button class="backButton" type="button" name="button" ng-click="galleryCtrl.changeStateFalse()" ng-show="galleryCtrl.showInfo == true">Back</button>




</div>
