<div class="galleryImg" ng-init="galleryCtrl.getData()">
  <nav-directive></nav-directive>
  <!-- <section class="galleryMasterDiv" ng-hide="galleryCtrl.showInfo == true">

          <img ng-repeat="imgSrc in galleryCtrl.imgSrc" src="{{imgSrc}}" class="thumbnail" id="thumbnail" clickedHome="'one'" ng-click="galleryCtrl.showInfo = true;
          galleryCtrl.showInfoView();
          galleryCtrl.showClickedHome(clickedHome)
          ">
  </section> -->

  <section class="galleryMasterDiv" ng-hide="galleryCtrl.showInfo == true">
        <img ng-repeat="(eachHome, value) in galleryCtrl.houseData" class="thumbnail" id="thumbnail" src="{{value.pics[0]}}" ng-click=
         "galleryCtrl.showInfo = true;
         galleryCtrl.singleHouseDataLoader(value._id);
        ">
  </section>

<!-- <section>
  <img src="{{galleryCtrl.imgSrc}}">
</section> -->



<!-- <section ng-show="galleryCtrl.showInfo == true">
    <button class="xButton" type="button" ng-click="galleryCtrl.showInfo = false">-x-</button>
  </section> -->


<!-- THIS IS THE CODE FOR DOING THE REPEATER IN THE LINK STYLE WITH ID IN URL -->
<!-- <section class="galleryMasterDiv">
      <a href="#/info/{{value._id}}" ng-repeat="(eachHome, value) in galleryCtrl.houseData" class="thumbnail">
          <img src="{{value.pics[0]}}" class="thumbnail" id="thumbnail"
          ng-click="galleryCtrl.showInfoView()";>
      </a>
</section> -->


<button class="backButton" type="button" name="button" ng-click="galleryCtrl.changeStateFalse()" ng-show="galleryCtrl.showInfo == true">Back</button>
<section class="galleryInfoMasterSection">

  <section class="infoContainer" ng-show="galleryCtrl.showInfo == true">
    <!-- left half -->
    <div class="infoImageContainer">
      <!-- main image -->
      <img src="{{galleryCtrl.singleHomeData.frontPic}}" class="infoMainImage">
      <!-- thumbnail slider container -->
      <div class="infoSliderContainer">
        <!-- repeated image slider -->
        <img ng-repeat="sliderPic in galleryCtrl.singleHomeData.pics" src="{{sliderPic}}" class="infoSliderImage">

      </div>

    </div>


  <!-- WIRED UP FOR GALLERY CONTROLLER  -->

  <!-- right half -->
  <!-- house info container -->
  <div class="infoTextContainer">
    <!-- house info -->
    <p class="infoText">{{galleryCtrl.singleHomeData.address}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.sqft}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.lotsize}}</p>
    <p class="infoText">Bedrooms: {{galleryCtrl.singleHomeData.bedrooms}}</p>
    <p class="infoText">Bathrooms: {{galleryCtrl.singleHomeData.bathrooms}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.elementary}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.middle}}</p>
    <p class="infoText">{{galleryCtrl.singleHomeData.hs}}</p>
    <p class="infoText">Status: {{galleryCtrl.singleHomeData.status}}</p>
  <!-- map pic container -->
  <div class="infoMapImageContainer">
    <!-- MAIN PICTURE -->
    <img src="" alt="" />
    <!-- MAP PICTURE -->
    <img src="{{galleryCtrl.singleHomeData.mapPic}}" class="infoMapImage">

  </div>
</div>

</section>

</section>




</div>
