
<div class="mapImg" ng-init="mapCtrl.getData(); mapCtrl.initMap(); mapCtrl.showSideCompleted('Complete', mapCtrl.completeIcon)">
  <nav-directive></nav-directive>
  <section class="mapPageSection">

    <div id="map">

    </div>

    <div class="addressSidebar">
      <div class="filterButtonDiv">
        <button class="completed" type="button" ng-click="mapCtrl.showSideCompleted('Complete', mapCtrl.completeIcon)">Completed</button>
        <button class="current" type="button" ng-click="mapCtrl.showSideCompleted('Constructing', mapCtrl.constructionIcon)">Current</button>
        <button class="future" type="button" ng-click="mapCtrl.showSideCompleted('Future', mapCtrl.futureIcon)">Future</button>
      </div>
      <div class="scrollContainer">
        <div class="addressDiv" ng-repeat="(eachHome, value) in mapCtrl.clickedAddress">
          <p class="addressText">
            {{value.address}}
          </p>
          <a href="#/gallery/{{value._id}}">
          <p class="viewDetailsButton" ng-click="mapCtrl.viewChangeToGallery(value._id)">view details</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
