<!-- background -->
<div class="galleryImg">
  <!-- outermost container -->
  <section class="infoContainer">
    <!-- left half -->
    <div class="infoImageContainer">
      <!-- main image -->
      <img src="" class="infoMainImage">
      <!-- thumbnail slider container -->
      <div class="infoSliderContainer">
        <!-- repeated image slider -->
          <img src="" class="infoSliderImage">

      </div>

    </div>

    <!-- WIRED UP FOR GALLERY CONTROLLER  -->

    <!-- right half -->
    <!-- house info container -->
    <div class="infoTextContainer">
      <!-- house info -->
      <p class="infoTextAddress">{{gallerCtrl.}}</p>
      <p class="infoTextSqFt">{{}}</p>
      <p class="infoTextLotSize">{{}}</p>
      <p class="infoTextBedrooms">{{}}</p>
      <p class="infoTextBathrooms">{{}}</p>
      <p class="infoTextElementary">{{}}</p>
      <p class="infoTextMiddle">{{}}</p>
      <p class="infoTextHS">{{}}</p>
      <p class="infoTextStatus">{{}}</p>
    </div>
    <!-- map pic container -->
    <div class="infoMapImageContainer">
      <!-- map picture -->
      <img src="" class="infoMapImage">

    </div>

  </section>

</div>
