<div class="galleryImg">
  <section class="infoContainer">
    <div class="infoImageContainer">
      <img src="" class="infoMainImage">
      <div class="infoSliderContainer">
        <ul class="infoSliderList">
          <!-- 1 -->
          <li><img src="" class="infoSliderImage"></li>
          <!-- 2 -->
          <li><img src="" class="infoSliderImage"></li>
          <!-- 3 -->
          <li><img src="" class="infoSliderImage"></li>
          <!-- 4 -->
          <li><img src="" class="infoSliderImage"></li>
          <!-- 5 -->
          <li><img src="" class="infoSliderImage"></li>
          <!-- 6 -->
          <li><img src="" class="infoSliderImage"></li>
          <!-- 7 -->
          <li><img src="" class="infoSliderImage"></li>
          <!-- 8 -->
          <li><img src="" class="infoSliderImage"></li>
          <!-- 9 -->
          <li><img src="" class="infoSliderImage"></li>
          <!-- 10 -->
          <li><img src="" class="infoSliderImage"></li>
        </ul>
      </div>
    </div>
    <div class="infoTextContainer">
      <p class="infoTextAddress">####</p>
      <p class="infoTextSqFt">SQFT</p>
      <p class="infoTextLotSize">LOT SIZE</p>
      <p class="infoTextBedrooms">BEDROOM COUNT</p>
      <p class="infoTextBathrooms">BATHROOM COUNT</p>
      <p class="infoTextElementary">ELEMENTARY SCHOOL</p>
      <p class="infoTextMiddle">MIDDLE SCHOOL</p>
      <p class="infoTextHS">HIGH SCHOOL</p>
      <p class="infoTextStatus">STATUS</p>
    </div>
    <div class="infoMapImageContainer">
      <img src="" class="infoMapImage">
    </div>
  </section>
</div>
