<div class="galleryImg">
  <nav-directive></nav-directive>
  <section class="galleryInfoMasterSection" ng-init="infoCtrl.getData(cb); infoCtrl.singleHouseDataLoader(infoCtrl.idUrl)">
    <section class="infoContainer">
      <div class="infoImageContainer">
        <img src="{{infoCtrl.frontPicture[0]}}" class="infoMainImage">
          <div class="infoSliderContainer">
            <img ng-repeat="(key, value) in infoCtrl.singleHomeData.pics" src="{{value}}" class="infoSliderImage" ng-click="infoCtrl.singleHomeData.changePic(key, value)">
          </div>
      </div>
    </div>


  <!-- WIRED UP FOR GALLERY CONTROLLER  -->

  <!-- right half -->
  <!-- house info container -->
  <div class="infoTextContainer">
    <!-- house info -->
    <p class="infoText">{{infoCtrl.singleHomeData.address}}</p>
    <p class="infoText">{{infoCtrl.singleHomeData.sqft}}</p>
    <p class="infoText">{{infoCtrl.singleHomeData.lotsize}}</p>
    <p class="infoText">Bedrooms: {{infoCtrl.singleHomeData.bedrooms}}</p>
    <p class="infoText">Bathrooms: {{infoCtrl.singleHomeData.bathrooms}}</p>
    <p class="infoText">{{infoCtrl.singleHomeData.elementary}}</p>
    <p class="infoText">{{infoCtrl.singleHomeData.middle}}</p>
    <p class="infoText">{{infoCtrl.singleHomeData.hs}}</p>
    <p class="infoText">Status: {{infoCtrl.singleHomeData.status}}</p>
  <!-- map pic container -->
  <div class="infoMapImageContainer">
    <!-- MAIN PICTURE -->
    <img src="" alt="" />
    <!-- MAP PICTURE -->
    <a href="#/map"><img src="{{infoCtrl.singleHomeData.mapPic}}" class="infoMapImage"></a>

  </div>
</div>

</section>

</section>
</div>
