<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

</html> -->
<section>
  <form ng-submit="adminCtrl.submitHouse(newHouse)">
    <input type="text" name="name" placeholder="address" ng-model="newHouse.address">
    <input type="text" name="name" placeholder="sqft" ng-model="newHouse.sqft">
    <input type="text" name="name" placeholder="lotSize" ng-model="newHouse.lotSize">
    <input type="text" name="name" placeholder="bedrooms" ng-model="newHouse.bedrooms">
    <input type="text" name="name" placeholder="baths" ng-model="newHouse.baths">
    <input type="text" name="name" placeholder="elementary" ng-model="newHouse.elementary">
    <input type="text" name="name" placeholder="ms" ng-model="newHouse.ms">
    <input type="text" name="name" placeholder="hs" ng-model="newHouse.hs">
    <input type="text" name="name" placeholder="status" ng-model="newHouse.status">
    <button type="submit" name="button">submit house</button>
  </form>
</section>

<!-- <form type="multipart/form-data" method="post" name="fileinfo" ng-submit="adminCtrl.submitForm(file)">
  <input type="file" name="file" id="imgFile" required />
  <input type="submit" value="Stash the file!" />
  <button type="submit">submit</button>
</form> -->


<!-- <form class="" action="/addPics" method="post" enctype="multipart/form-data">
  <input type="file" name="upload" multiple="multiple">
  <input type="submit" value="Upload File">
</form> -->

<!-- </body> -->


<section>
  <div ng-repeat="house in adminCtrl.allHouses">
    <p>
      {{house}}
    </p>
  </div>
  <button type="submit" ng-click="adminCtrl.getHouseData()"></button>
</section>
