
<section>
  <form ng-submit="adminCtrl.submitHouse(newHouse)">
    <input type="text" name="name" placeholder="address" ng-model="newHouse.address">
    <input type="text" name="name" placeholder="sqft" ng-model="newHouse.sqft">
    <input type="text" name="name" placeholder="lotSize" ng-model="newHouse.lotSize">
    <input type="text" name="name" placeholder="bedrooms" ng-model="newHouse.bedrooms">
    <input type="text" name="name" placeholder="baths" ng-model="newHouse.baths">
    <input type="text" name="name" placeholder="elementary" ng-model="newHouse.elementary">
    <input type="text" name="name" placeholder="ms" ng-model="newHouse.ms">
    <input type="text" name="name" placeholder="hs" ng-model="newHouse.hs">
    <input type="text" name="name" placeholder="status" ng-model="newHouse.status">
    <button type="submit" name="button">submit house</button>
  </form>
</section>
