//NAVIGATION
.NavSecton {
  background-color: none;
  border: dotted;
}

.navDiv {
  background-color: white;
  opacity: .8;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  align-items: center;
  vertical-align: center;
}

.logoDiv {
  background-color: white;
  opacity: .8;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  align-items: center;
  vertical-align: center;
  margin-top: 16px;
  p {
    font-family: serif;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: -5px;
    color: #414042;
  }
}

.navItem {
  text-decoration: none;
  color: #414042;
  letter-spacing: 2px;
  padding: 0px 40px 0px 40px;
  font-family: serif;
}

.homeTab {
  text-decoration: none;
  color: #414042;
  letter-spacing: 2px;
  padding: 0px 40px 0px 0px;
  font-family: serif;
}

//HOME BACKGROUND IMAGE
.homeImg {
  background: url('../media/630-001.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -16px;
}

//ABOUT
.aboutImg {
  background: url('../media/8102-004.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -16px;
}

.aboutText {
  width: 50%;
  height: 630px;
  margin-top: -16px;
  // margin-bottom: -16px;
  background-color: black;
  opacity: .8;
  p {
    color: white;
    padding: 20px;
    color: white;
    letter-spacing: 2px;
    font-family: serif;
  }
}



//CONTACT
.contactImg {
  background: url('../media/2434-016.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -16px;
}

.contactText {
  width: 50%;
  height: 630px;
  margin-top: -16px;
  background-color: black;
  opacity: .8;
  div p {
    color: white;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 0px;
    color: white;
    letter-spacing: 2px;
    font-family: serif;
  }
}
//
// span {
//   width: 1px;
//   height: 1px;
// }

// .contactImg {
//   background: url('../media/2434-016.jpg') no-repeat center center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   height: 750px;
//   margin-top: -16px;
// }
//
// .contactText {
//   width: 50%;
//   height: 630px;
//   margin-top: -21px;
//   padding-left: 8%;
//   background-color: black;
//   opacity: .8;
//   h1 {
//     color: white;
//     padding-top: 50px;
//     letter-spacing: 2px;
//     font-family: serif;
//   }
//   p {
//     color: white;
//     // padding: 20px;
//     padding-left: 20px;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     padding-right: 0px;
//     color: white;
//     letter-spacing: 2px;
//     font-family: serif;
//   }
// }



//FOOTER
.footer {
  // position: fixed;
  text-align: center;
}

.footerText:before {
  content: "\00a9"
}
