// body {
//   background-color: black;
// }

//NAVIGATION
.NavSecton {
  background-color: none;
  border: dotted;
}

.navDiv {
  background-color: white;
  opacity: .8;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  align-items: center;
  vertical-align: center;
}

.logoDiv {
  background-color: white;
  opacity: .8;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  align-items: center;
  vertical-align: center;
  margin-top: 16px;
  p {
    font-family: serif;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: -5px;
    color: #414042;
  }
}

.navItem {
  text-decoration: none;
  color: #414042;
  letter-spacing: 2px;
  padding: 0px 40px 0px 40px;
  font-family: serif;
}

.homeTab {
  text-decoration: none;
  color: #414042;
  letter-spacing: 2px;
  padding: 0px 40px 0px 0px;
  font-family: serif;
}

//HOME BACKGROUND IMAGE
.homeImg {
  background: url('../media/630-001.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -16px;
}

//ABOUT
.aboutImg {
  background: url('../media/8102-004.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -16px;
}

.aboutText {
  width: 50%;
  height: 630px;
  margin-top: -16px;
  background-color: black;
  opacity: .8;
  p {
    color: white;
    padding: 20px;
    color: white;
    letter-spacing: 2px;
    font-family: serif;
  }
}



//CONTACT
.contactImg {
  background: url('../media/2434-016.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -16px;
}

.contactPage {
  display: flex;
}

.contactText {
  width: 50%;
  min-height: 630px;
  margin-top: 0px;
  background-color: black;
  opacity: .8;
  div p {
    color: white;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 0px;
    color: white;
    letter-spacing: 2px;
    font-family: serif;
  }
}

.emailBox {
  display: flex;
  justify-content: center;
  background-color: none;
  width: 50%;
}

.emailForm {
  align-self: center;
  div {
    width: 303px;
    background-color: black;
    opacity: .8;
    color: white;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    margin: 20px 0px 0px 0px;

  }
  input {
    display: block;
    padding: 10px 5px 10px 5px;
    margin: 20px 0px 0px 0px;
    width: 300px;
  }
  textarea {
    display: block;
    padding: 10px 5px 10px 5px;
    margin: 20px 0px 0px 0px;
    width: 301px;
  }
  button {
    width: 312px;
    padding: 10px 5px 10px 5px;
    margin: 5px 0px 0px 0px;
    background-color: black;
    opacity: .8;
    color: white

  }
}

//GALLERY
.galleryImg {
  background: url('../media/defaultbg2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -16px;
}

.galleryContainer {
  overflow: hidden;
  width: 100%;
  // padding-left: 10%;
  // padding-right: 10%;
  // margin-left: 10%;
  // margin-right: 10%;
}

.galleryDiv {
  margin: -1%;
  padding: 40px 20px 20px 20px;
}

.thumbnail {
  float: left;
  margin: 1%;
  img {
    width: 350px;
    height: 250px;
  }
}

//MAP
.mapImg {
  background: url('../media/mapbg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -16px;
}




//FOOTER
.footer {
  // position: fixed;
  display: block;
  text-align: center;
  // align-content: center;
  height: 20px;
}

.footerText:before {
  content: "\00a9"
}
