
<!-- NON WORKING MAP CODE -->

<!-- <div class="mapImg">
  <nav-directive></nav-directive>
  <section class="mapPageSection">

    <div id="map" ng-init="mapCtrl.getData(mapCtrl.completedHomes)">

    </div>

    <div class="addressSidebar">
      <div class="filterButtonDiv">
        <button class="completed" type="button" ng-click="mapCtrl.showHomes('Completed')">Completed</button>
        <button class="current" type="button" ng-click="mapCtrl.showHomes('Constructing')">Current</button>
        <button class="future" type="button" ng-click="mapCtrl.showHomes('Future')">Future</button>
      </div>
      <div class="scrollContainer">
        <div class="addressDiv" ng-repeat="houses in mapCtrl.realMockArray">
          <p class="addressText">
            {{houses}}
          </p>
          <p class="viewDetailsButton" ng-click="mapCtrl.viewChangeToGallery()">View Details</p>
        </div>
      </div>
    </div>


  </section>
</div> -->






 <div class="mapImg">
  <nav-directive></nav-directive>
  <section class="mapPageSection">

    <div id="map" ng-init="mapCtrl.getData(mapCtrl.completedHomes)">

    </div>

    <div class="addressSidebar">
      <div class="filterButtonDiv">
        <button class="completed" type="button" ng-click="mapCtrl.getData(mapCtrl.completedHomes)">Completed</button>
        <button class="current" type="button" ng-click="mapCtrl.getData(mapCtrl.underConstruction)">Current</button>
        <button class="future" type="button" ng-click="mapCtrl.getData(mapCtrl.underConstruction)">Future</button>
      </div>
      <div class="scrollContainer">
        <div class="addressDiv" ng-repeat="houses in mapCtrl.realMockArray">
          <p class="addressText">
            {{houses}}
          </p>
          <p class="viewDetailsButton" ng-click="mapCtrl.viewChangeToGallery()">View Details</p>
        </div>
      </div>
    </div>


  </section>
</div>
