
    <section>
      <!-- <section ng-init="mapCtrl.initMap()"> -->

  <nav-directive></nav-directive>



  <!-- <script>
  console.log('MAPPPPP');
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      console.log('NEW MAP FUNCTION : ', new google.maps.Map);
      center: {
        lat: 47.629,
        lng: -122.211,
        zoom: 8
      }
    });
  }
  </script> -->

  <div id="map">
    <!-- {{'THis should be the map'}} -->
  </div>
  <button type="button" ng-click="mapCtrl.initMap()"></button>

</section>
