<div class="contactImg">
    <nav-directive></nav-directive>
  <div class="contactText">
    <div>
      <p>
        Eric Whiting
      </p>
      <p>
        <span><img src="./media/cell-icon.png"></span>
        425.531.0166
      </p>

      <p>
        <span><img src="./media/work-icon.png"></span>
        425.450.1591
      </p>

      <p>
        <span><img src="./media/mail-icon.png"></span>
        P.O. Box 85, Bellevue, WA 98009-0085
      </p>

      <p>
        <span><img src="./media/email-icon.png"></span>
        ericwhiting@comcast.net
      </p>
    </div>

  </div>

</div>





<!-- <div class="contactImg">
    <nav-directive></nav-directive>
  <div class="contactDiv">
    <div class="contactText">
      <p>
        Eric Whiting
        <br>
        <br>
        <br>
        <br>
      </p>
    </div>
  </div>
</div> -->
